/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Home
 ----------------------------------------------------------------------------------------------------------------- */

.body {
    width: 1920px;
    height: 1080px;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
    margin: 50px auto 0;
}

.navbar h1 {
    width: 10%;
    height: 80px;
    display: flex;
    float: left;
    justify-content: center;
}

.navbar p {
    width: 80%;
    height: 100%;
    float: left;
    line-height: 100px;
    text-align: center;
    font-family: 'Delicious Handrawn', cursive;
    FONT-SIZE: xx-large;
}

.navbar button {
    width: 10%;
    float: left;
    border: none;
    background: none;
}

.navbar button img {
    width: 60px;
    height: 60px;
    display: flex;
    margin: 0 auto;
}

body {
    background-image: url(../Imagenes/FondoBalones.jpg);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

main {
    width: 90%;
    height: auto;
    background-color: aqua;
    display: inline-block;
    margin: 0 auto;
}

.bannerHome {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    float: left;
}

.imgBanner {
    width: 90%;
    margin-top: 10px;
}

.informacionGeneral {
    width: 55%;
    margin: 20px 2.5% 20px 5%;
    box-sizing: border-box;
}

.informacionGeneral,
.eventos {
    box-sizing: border-box;
    padding: 20px;
    float: left;

    border: 2px solid;
}

.informacionGeneral h2,
.eventos h2 {
    font-size: 25px;
    font-weight: bold;
}

.eventos {
    width: 30%;
    height: auto;
    margin: 20px 5% 20px 2.5%;
}

.postInformacion li,
.postEventos li {
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.postInformacion li p,
.postEventos li div {
    width: 78%;
    float: left;

    font-size: 20px;
}

.postInformacion li img {
    width: 20%;
    float: left;
    margin: 0 1% 0 1%;
}

.postEventos li img {
    width: 20%;
    float: left;
    margin: 0 2% 0 0;
}

.tituloEvento {
    font-size: 22px;
    font-weight: bold;
}

.descripcionEvento {
    margin-top: 10px;
    font-size: 18px;
}


/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Noticias
 ----------------------------------------------------------------------------------------------------------------- */

.noticias {
    box-sizing: border-box;
    margin: 2% 5%;
}

.noticias h1 {
    font-size: 50px;
    font-weight: bold;
}

.postNoticias li {
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.postNoticias li div h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.postNoticias li div p {
    font-size: 20px;
}

.postNoticias li img {
    width: 20%;
    margin: 0 1%;
}


/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Galeria
 ----------------------------------------------------------------------------------------------------------------- */

.galeria {
    width: 100%;
    box-sizing: border-box;
    margin: 2% 5%;
    float: left;
}

.galeria h1 {
    font-size: 50px;
    font-weight: bold;
}

.elementoGaleria {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.elementoGaleria img,
iframe {
    width: 30%;
    height: 500px;
    box-sizing: border-box;
    padding: 10px;
}



/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Categorias
 ----------------------------------------------------------------------------------------------------------------- */
.categorias {
    box-sizing: border-box;
    margin: 2% 5%;
}

.categorias h1 {
    font-size: 50px;
    font-weight: bold;
}

.postCategorias {
    width: 100%;
}

.postCategorias li {
    width: 45%;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: 30px 2.5%;
    display: grid;
    justify-items: center;
    float: left;
}

.postCategorias li img {
    width: 50%;
    margin-top: 20px;
}

.contenidoPostCategorias {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenidoPostCategorias h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contenidoPostCategorias p {
    font-size: 20px;
    text-align: center;
}

.linkInformacion{
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 25px;
    justify-content: flex-end;
    align-items: center;
    margin-left: -10%;
}







/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Sobre Nosotros
 ----------------------------------------------------------------------------------------------------------------- */

 .tituloSobreNosotros{
    margin: 2% 5%;
    font-size: 50px;
    font-weight: bold;

 }

 .sobreNosotros{
    box-sizing: border-box;
    margin: 2% 5%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.informacionSobreNosotros h2, .informacionEntrenadores h2{
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}

.informacionSobreNosotros p{
    font-size: 20px;
    margin: 5px 20px;

}

.entrenadores li{
    width: 20%;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: 0px 2.5% 30px;
    display: grid;
    justify-items: center;
    float: left;
}

.entrenadores h3{
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.entrenadores p{
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

.entrenadores li img{
    width: 90%;
}

/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Informacion
 ----------------------------------------------------------------------------------------------------------------- */
main{
    width: 90%;
    height: 720px;
}

 .tituloInformacion{
    margin: 2% 29%;
    font-size: 30px;
    font-weight: bold;
}

 .informacion{
    display: grid;
    margin: 2% 30%;
    padding: 0 40px;
 }

 .informacion label, .informacion fieldset legend p{
    font-size: 20px;
    margin: 20px 0 0;
 }

 .informacion input{
    width: 60%;
    padding: 5px;
    margin-top: 5px;
 }

 .informacion select{
    width: 40%;
    padding: 3px;
 }

 .informacion textarea{
    width: 80%;
    resize: none;
 }

 .informacion fieldset input{
    width: auto;
    margin: 0 0 0 20px;
 }

 #enviar{
    width: 15%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    bottom: 80px;
    left: 1000px;
}

#enviar:hover{
    transform: scale(1.1);
}

