/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Home
 ----------------------------------------------------------------------------------------------------------------- */

.body {
    width: 1920px;
    height: 1080px;
}

h1,
h2,
h3, a {
    color: #2a83dd;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

p, label {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;

}

li{
    border:1px solid white;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
    margin: 50px auto 0;
    border-radius: 20px 20px 0 0;
}

.navbar a {
    width: 20%;
    height: 80px;
    display: flex;
    float: left;
}

.navbar a img {
    width: 80%;
    box-sizing: border-box;
    margin: 0 0 0 10%;
}

.navbar h1 {
    width: 60%;
    height: 100%;
    float: left;
    line-height: 100px;
    text-align: center;
    /* font-family: 'Delicious Handrawn', cursive;
    FONT-SIZE: 50px; */

    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.contenedorBotonNav {
    width: 20%;
}

.contenedorBotonNav button {
    width: 20%;
    float: right;
    border: none;
    background: none;
    box-sizing: border-box;
    margin: 0 10%;
}

.navbar button img {
    width: 100%;
    height: 60px;
    display: flex;
    margin: 0 auto;
}

/* -----------------------------------------------------------------------------------------------------------------
                                                Implementacion Navegacion
 ----------------------------------------------------------------------------------------------------------------- */

#btnNavegacion {
    cursor: pointer;
}

.navegacion {
    width: 300px;
    height: auto;
    position: absolute;
    right: 5%;
    top: 150px;
    display: none;
    box-shadow: 0px 11px 11px 1px #a1bb12;

    background-color: white;
}

.paginas {
    box-sizing: border-box;
    display: flex;
    margin: 10px;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
}

.paginas li {
    display: flex;
    font-size: 30px;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.paginas a {
    text-decoration: none;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    transition: 1s all;
}

.paginas a:hover {
    transform: scale(1, 1.2);
    background-color: #a1bb12;
}

.paginas a:active {
    background-color: #2a83dd;
}

.paginas a:visited {
    color: #2a83dd;
}

/* -----------------------------------------------------------------------------------------------------------------
                                                Aca termina Navegacion
 ----------------------------------------------------------------------------------------------------------------- */

body {
    background-image: url(../Imagenes/FondoBalones.jpg);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

main {
    width: 90%;
    height: auto;
    background-color: black;
    display: inline-block;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    margin-bottom: 50px;
}

.bannerHome {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    float: left;
}

.imgBanner {
    width: 90%;
    margin-top: 10px;
}

.informacionGeneral {
    width: 55%;
    margin: 20px 2.5% 20px 5%;
    box-sizing: border-box;
}

.informacionGeneral,
.eventos {
    box-sizing: border-box;
    float: left;
}

.informacionGeneral h2,
.eventos h2 {
    font-size: 25px;
    font-weight: bold;
}

.eventos {
    width: 30%;
    height: auto;
    margin: 20px 5% 20px 2.5%;
}

.postInformacion li,
.postEventos li {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.postInformacion li img+p,
.postInformacion li p+img {
    margin: 0 0 0 20px;
}

.postInformacion li p,
.postEventos li div {
    width: 78%;
    float: left;

    font-size: 20px;
}

.postInformacion li img {
    width: 30%;
    float: left;
}

.postEventos li img {
    width: 20%;
    float: left;
    margin: 0 20px 0 0;
}

.tituloEvento {
    font-size: 22px;
    font-weight: bold;
}

.descripcionEvento {
    margin-top: 10px;
    font-size: 18px;
}


/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Noticias
 ----------------------------------------------------------------------------------------------------------------- */

.noticias {
    box-sizing: border-box;
    margin: 2% 5%;
}

.noticias h1 {
    font-size: 50px;
    font-weight: bold;
}

.postNoticias li div+div{
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 20px;
}

.postNoticias li {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.textoNoticias{
    margin-right: 20px;
}

.postNoticias li div h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.postNoticias li div p {
    font-size: 20px;
}

.imagenNoticia img + img{
    margin-left: 20px;
}

/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Galeria
 ----------------------------------------------------------------------------------------------------------------- */


.galeria h1 {
    font-size: 50px;
    font-weight: bold;
}

/*
        Carrusel de Fotos
*/

.tituloImagenes,
.tituloVideos {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.tituloVideos {
    margin-top: 50px;
}

.galeria {
    width: 90%;
    box-sizing: border-box;
    margin: 2% 5%;
    float: left;
}

.carousel {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 11px 6px #a1bb12;
    border-radius: 20px
}

.carousel button,
.carousel-videos button {
    background: none;
    border: none;
}

.carousel button img,
.carousel-videos button img {
    width: 80%;
}

.anteriorImg {
    width: 10%;
}

#imagen {
    width: 80%;
    height: 400px;
    background-size: cover;
}

#imagenIMG {
    width: 560px;
    height: 315px;
}

#video,
.imagenCarousel {
    width: 80%;
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.siguienteImg {
    width: 10%;
}

.carousel-videos {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 11px 6px #a1bb12;
    border-radius: 20px
}

.galeria button {
    cursor: pointer;
}



/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Categorias
 ----------------------------------------------------------------------------------------------------------------- */
.categorias {
    box-sizing: border-box;
    margin: 2% 5%;
}

.categorias h1 {
    font-size: 50px;
    font-weight: bold;
}

.postCategorias {
    width: 100%;
}

.postCategorias li {
    width: 45%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: 30px 2.5%;
    display: grid;
    justify-items: center;
    float: left;
}

.postCategorias li img {
    width: 50%;
    margin-top: 20px;
}

.contenidoPostCategorias {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenidoPostCategorias h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contenidoPostCategorias p {
    font-size: 20px;
    text-align: center;
}

.linkInformacion {
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 25px;
    justify-content: flex-end;
    align-items: center;
    margin-left: -10%;
}







/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Sobre Nosotros
 ----------------------------------------------------------------------------------------------------------------- */

.tituloSobreNosotros {
    margin: 2% 5%;
    font-size: 50px;
    font-weight: bold;

}

.sobreNosotros {
    box-sizing: border-box;
    margin: 2% 5%;
    display: flex;
    flex-direction: column;
}

.informacionEntrenadores{
    width: 100%;
}

.informacionSobreNosotros h2,
.informacionEntrenadores h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}

.informacionSobreNosotros p {
    font-size: 20px;
    margin: 5px 20px;

}

.entrenadores{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.entrenadores li {
    width: 45%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: 0px 2.5% 30px;
    display: grid;
    justify-items: center;
    float: left;
}

.entrenadores h3 {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.entrenadores p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

.entrenadores li img {
    width: 400px;
}

/* -----------------------------------------------------------------------------------------------------------------
                                                    Aca empieza Informacion
 ----------------------------------------------------------------------------------------------------------------- */
.mainInformacion {
    width: 90%;
}

.tituloInformacion {
    width: 700px;
    margin: 2% auto;
    font-size: 30px;
    font-weight: bold;
}

.informacion {
    width: 700px;
    display: grid;
    margin: 2% auto;
    padding: 0 40px;
}

.informacion label,
.informacion fieldset legend p {
    font-size: 20px;
    margin: 20px 0 0;
}

.informacion input {
    width: 60%;
    padding: 5px;
    margin-top: 5px;
}

.informacion select {
    margin-top: 10px;
    width: 40%;
    padding: 3px;
}

.informacion textarea {
    width: 80%;
    resize: none;
}

.informacion fieldset input {
    width: auto;
    margin: 0 0 0 20px;
}

#enviar {
    width: 200px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #2a83dd;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 20px auto;
}

#enviar:hover {
    transform: scale(1.1);
}

.imagenNoticia{
    display: contents;
    float: left;
}

.imagenNoticia img{
    width: 400px;
}

@media screen and (max-width:1700px){

    .informacionGeneral, .eventos{
        width: 90%;
    }

    .postNoticias li{
        display: grid;
    }

    .imagenNoticia{
        display: flex;
        justify-content: space-evenly;
    }

    .textoNoticias{
        margin: 20px;
    }
}

@media screen and (max-width:1100px){
    .imagenNoticia img{
        width: 300px;
    }

    .entrenadores li img{
        width: 300px;
    }
}